{{- $roles := list -}}
{{- if hasKey . "machineRoles" -}}
  {{- $roles = get . "machineRoles" -}}
{{- else -}}
  {{- $roles = list "base" -}}
  {{- if eq .chezmoi.os "linux" -}}
    {{- if promptBool "Install gaming packages" -}}
      {{- $roles = append $roles "gaming" -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- $validationRoot := deepCopy . -}}
{{- $_ := set $validationRoot "machineRoles" $roles -}}
{{- if not (hasKey $validationRoot "machineRolePolicy") -}}
  {{- $sourceData := include ".chezmoidata/packages.yaml" | fromYaml -}}
  {{- $_ = set $validationRoot "machineRolePolicy" (get $sourceData "machineRolePolicy") -}}
{{- end -}}
{{- includeTemplate "validate-machine-package-data.tmpl" $validationRoot -}}
{{- $packagePolicy := dict -}}
{{- if hasKey . "packagePolicy" -}}
  {{- $packagePolicy = get . "packagePolicy" -}}
{{- end -}}
{{- $newDenied := list -}}
{{- if hasKey $packagePolicy "deniedPrefixes" -}}
  {{- $newDenied = get $packagePolicy "deniedPrefixes" -}}
{{- end -}}
{{- $legacyDenied := list -}}
{{- if hasKey . "blocked_prefixes" -}}
  {{- $legacyDenied = get . "blocked_prefixes" -}}
{{- end -}}
{{- $denied := concat $newDenied $legacyDenied | uniq -}}

[data]
machineRoles = [
{{ range $roles }}  {{ . | quote }},
{{ end }}]

[data.packagePolicy]
deniedPrefixes = [
{{ range $denied }}  {{ . | quote }},
{{ end }}]
